.main-text {
  padding: 3rem;
  display: flex;
  font-size: 20px;
}

.main-about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 70%;
}

.main-text-name {
  display: flex;
}

.main-image > img {
  border-radius: 20px;
  height: 50vh;
  width: 70%;
  border: 3px solid white;
}

.about-email {
  align-items: center;
  background: black;
  border-radius: 4px;
  color: #dedede;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  height: max-content;
  justify-content: center;
  margin-top: 50px;
  padding: 16px 48px;
  width: max-content;
  margin-left: 9rem;
  margin-top: 10rem;
}

.about-email > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.about-email:hover {
  background-color: #04aa6d;
  color: black;
}
