.main-text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

.main-about-page {
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; */
  width: 64%;
}
.main-text-description {
  line-height: 31px;
  font-size: 23px;
}

.main-text-name {
  display: flex;
  font-size: 25px;
}
.main-image {
  width: 26%;
}

.main-image > img {
  border-radius: 20px;
  height: 301px;
  width: 100%;
  object-fit: cover;
  border: 3px solid white;
  
}

.btn_personal_info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.btn-email {
  background: black;
  border-radius: 4px;
  color: #dedede;
  font-size: 1rem;
  font-weight: 600;
  height: max-content;
  padding: 16px 48px;
  width: max-content;
}
.btn-cv {
  background: black;
  border-radius: 4px;
  color: #dedede;
  font-size: 1rem;
  font-weight: 600;
  height: max-content;
  padding: 16px 48px;
  width: max-content;
}

.btn-email > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.btn-email:hover {
  background-color: #04aa6d;
  color: black;
}
.btn-cv > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.btn-cv:hover {
  background-color: #04aa6d;
  color: black;
}

@media (max-width: 1000px) {
  .main-text {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1000px) {
  .main-image {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .main-image {
    width: 55%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .main-image {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .main-image {
    width: 75%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500) {
  .main-image {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .btn_personal_info {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
}
