.edit-btn {
    background: black;
    border-radius: 4px;
    color: #dedede;
    padding: 0.75rem 3rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .edit-btn:hover {
    background-color: #04aa6d;
    color: black;
  }
  .about_btns1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .edit-personalinfo-container{
    display: flex;
  }
  .edit-personalinfo-img{
    margin-top: 42px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .edit-personalinfo-img img{
    width: 218px;
    height: 205.89px;
    border-radius: 20px;
  }
  .upload-img-form{
    background-color: rgb(218, 218, 218);
    width: 279px;
    height: 56px;
    margin-top: 16px;
    text-align: center;
    line-height: 56px;
  }
  .edit-personalinfo-content{
    margin-top: 42px;
  }
  .submit-edit-personalinfo-btn{
    display: flex;
    justify-content: center;
  }